In [46]:
import json
import pandas as pd

In [47]:
data = pd.read_csv('/nlp/zhengayong/heywhale/data_contest/train.csv', header=None)
data

,0,1,2
0,0,14 108 28 30 15 13 294 29 20 18 23 21 25 32 16...,22 12 38 41 17 81 10
1,1,22 12 1137 41 17 16 96 17 16 34 48 17 30 40 13...,66 75 80 116 17 81 16 33 81 16 33 24 122 370 1...
2,2,14 108 333 30 15 13 31 29 20 829 891 21 25 11 ...,35 48 49 150 167 308 282 10
3,3,22 12 135 269 205 24 267 27 12 376 32 94 109 2...,14 49 123 55 86 57 54 40 138 124 26 105 133 13...
4,4,34 12 48 63 109 28 30 40 13 1038 52 43 23 21 5...,34 12 48 1064 86 57 54 138 10 22 12 38 41 17 8...
...,...,...,...
19995,19995,22 12 62 80 33 17 89 70 11 22 12 38 285 17 16 ...,66 75 80 33 17 81 76 33 81 10
19996,19996,35 12 129 160 30 12 115 111 220 139 188 304 11...,222 223 35 12 129 160 30 12 115 19 166 1143 12...
19997,19997,83 12 38 41 17 1074 96 17 552 48 17 27 131 17 ...,34 12 38 41 17 309 60 11 222 223 73 59 11 117 ...
19998,19998,22 12 62 80 33 17 89 65 69 70 11 35 12 38 41 1...,35 12 17 143 33 119 175 105 99 432 323 11 75 8...
19999,19999,14 108 30 13 20 18 23 21 10 14 32 16 39 27 47 ...,150 50 107 104 113 110 15 384 31 29 20 18 10

In [48]:
data[3] = data[2]

In [49]:
data

,0,1,2,3
0,0,14 108 28 30 15 13 294 29 20 18 23 21 25 32 16...,22 12 38 41 17 81 10,22 12 38 41 17 81 10
1,1,22 12 1137 41 17 16 96 17 16 34 48 17 30 40 13...,66 75 80 116 17 81 16 33 81 16 33 24 122 370 1...,66 75 80 116 17 81 16 33 81 16 33 24 122 370 1...
2,2,14 108 333 30 15 13 31 29 20 829 891 21 25 11 ...,35 48 49 150 167 308 282 10,35 48 49 150 167 308 282 10
3,3,22 12 135 269 205 24 267 27 12 376 32 94 109 2...,14 49 123 55 86 57 54 40 138 124 26 105 133 13...,14 49 123 55 86 57 54 40 138 124 26 105 133 13...
4,4,34 12 48 63 109 28 30 40 13 1038 52 43 23 21 5...,34 12 48 1064 86 57 54 138 10 22 12 38 41 17 8...,34 12 48 1064 86 57 54 138 10 22 12 38 41 17 8...
...,...,...,...,...
19995,19995,22 12 62 80 33 17 89 70 11 22 12 38 285 17 16 ...,66 75 80 33 17 81 76 33 81 10,66 75 80 33 17 81 76 33 81 10
19996,19996,35 12 129 160 30 12 115 111 220 139 188 304 11...,222 223 35 12 129 160 30 12 115 19 166 1143 12...,222 223 35 12 129 160 30 12 115 19 166 1143 12...
19997,19997,83 12 38 41 17 1074 96 17 552 48 17 27 131 17 ...,34 12 38 41 17 309 60 11 222 223 73 59 11 117 ...,34 12 38 41 17 309 60 11 222 223 73 59 11 117 ...
19998,19998,22 12 62 80 33 17 89 65 69 70 11 35 12 38 41 1...,35 12 17 143 33 119 175 105 99 432 323 11 75 8...,35 12 17 143 33 119 175 105 99 432 323 11 75 8...
19999,19999,14 108 30 13 20 18 23 21 10 14 32 16 39 27 47 ...,150 50 107 104 113 110 15 384 31 29 20 18 10,150 50 107 104 113 110 15 384 31 29 20 18 10

In [50]:
data[:1000].to_csv('./data/test.csv', index=None, header=None)

In [51]:
data[:1000][[0,1,2]].to_csv('./data/test.csv', index=None, header=None)

In [54]:
data = json.load(open('/nlp/zhengayong/heywhale/data_contest/fold0/dev.json'))

In [53]:
train_0 = [json.loads(x) for x in open('/nlp/zhengayong/heywhale/data_contest/train_0.json')]
len(train_0), train_0[0]

(20000,
 {'report_ID': 0,
  'description': '14 108 28 30 15 13 294 29 20 18 23 21 25 32 16 14 39 27 14 47 46 69 70 11 24 42 26 37 61 24 10 79 46 62 19 13 31 95 19 28 20 18 10 22 12 38 41 17 23 21 36 53 25 10',
  'diagnosis': '22 12 38 41 17 81 10'})

In [55]:
data[0]

{'id': 25761,
 'article': '12 135 269 205 24 267 13 44 23 21 25 11 14 32 101 102 15 13 93 45 11 15 13 157 155 68 60 33 145 11 161 38 39 16 197 215 99 39 15 13 18 11 14 47 16 90 16 39 15 13 36 87 11 24 42 26 37 51 68 60 10 19 28 15 20 18 10 240 391 1290 1293 199 76 1290 1293 199 766 199 76 53 57 155',
 'summarization': '34 12 135 269 944 24 267 86 57 54 40 138 10'}

In [56]:
description = [x['description'] for x in train_0]
article = [x['article'] for x in data]

In [58]:
count = 0
for x in description:
    if x in article:
        count += 1
count, count/len(article)

(830, 0.2075)

In [59]:
new_data = []
for x in data:
    if x['article'] not in description:
        new_data.append(x)
len(new_data)

3170

In [62]:
for x in new_data:
    x['addition'] = ' '.join(x['article'].split()[-2:])#x['article'].split()[-1]
    x['article'] = ' '.join(x['article'].split()[:-1])
data[0]

{'id': 25761,
 'article': '12 135 269 205 24 267 13 44 23 21 25 11 14 32 101 102 15 13 93 45 11 15 13 157 155 68 60 33 145 11 161 38 39 16 197 215 99 39 15 13 18 11 14 47 16 90 16 39 15 13 36 87 11 24 42 26 37 51 68 60 10 19 28 15 20 18 10 240 391 1290 1293 199 76 1290 1293 199 766 199 76 53 57',
 'summarization': '34 12 135 269 944 24 267 86 57 54 40 138 10',
 'addition': '57 155'}

In [63]:
pd.DataFrame(new_data).to_csv('./data/test.csv', index=None, header=None)

In [43]:
data[0]

{'id': 25761,
 'article': '12 135 269 205 24 267 13 44 23 21 25 11 14 32 101 102 15 13 93 45 11 15 13 157 155 68 60 33 145 11 161 38 39 16 197 215 99 39 15 13 18 11 14 47 16 90 16 39 15 13 36 87 11 24 42 26 37 51 68 60 10 19 28 15 20 18 10 240 391 1290 1293 199 76 1290 1293 199 766 199 76 53 57 155',
 'summarization': '34 12 135 269 944 24 267 86 57 54 40 138 10'}

In [44]:
for x in data:
    x['addition'] = ' '.join(x['article'].split()[-2:])#x['article'].split()[-1]
    x['article'] = ' '.join(x['article'].split()[:-1])-2
data[0]

{'id': 25761,
 'article': '12 135 269 205 24 267 13 44 23 21 25 11 14 32 101 102 15 13 93 45 11 15 13 157 155 68 60 33 145 11 161 38 39 16 197 215 99 39 15 13 18 11 14 47 16 90 16 39 15 13 36 87 11 24 42 26 37 51 68 60 10 19 28 15 20 18 10 240 391 1290 1293 199 76 1290 1293 199 766 199 76 53 57',
 'summarization': '34 12 135 269 944 24 267 86 57 54 40 138 10',
 'addition': '57 155'}

In [45]:
pd.DataFrame(data).to_csv('./data/test.csv', index=None, header=None)